.react-datepicker__day--highlighted-custom-1{
    background-color: #ec407a;
    color: white;
    border-radius: 0.3rem;
}
.react-datepicker__day--highlighted-custom-2{
    background-color: #ffc107;
    color: white;
    border-radius: 0.3rem;
}
.react-datepicker__day--highlighted-custom-1:hover{
    color: black;
}
.react-datepicker__day--highlighted-custom-2:hover{
    color: black;
}
.room-calendar{
    margin: 0 auto;
    align-content: center;
    justify-content: center;
}
/* .react-datepicker {
    font-size: 1.3rem !important;
  }
  
  .react-datepicker__current-month {
    font-size: 1.5rem !important;
  }
  
  .react-datepicker__header {
    padding-top: 6px !important;
  }
  
  .react-datepicker__navigation {
    top: 13px !important;
  }
  
  .react-datepicker__day-name, .react-datepicker__day {
    margin: 0.5rem !important;
  }
  .room-calendar{
     margin: 0 auto !important;
  } */