.feedback{
    padding: 50px;
}
.contacts .info{
    padding: 50px;

}
.contacts .label{
    padding: 20px;
}
.contacts .contact-header{
    margin: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}