.feedback{
    padding: 50px;
}
.contacts .info{
    padding: 50px;
    position: relative;
}
.contacts .label{
    padding: 20px;
}
.contacts .contact-header{
    margin: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}
.img-icons-inst{
    width: 30px;
    height: 30px;
    background: url("../../../images/instagram-logo.png");
    background-size: 28px;
    margin: 10px;
}
.img-icons-fb{
    width: 30px;
    height: 30px;
    background: url("../../../images/fb-logo.png");
    background-size: 28px;
}
.contact-map{
    margin-left: auto;
    margin-right: auto;
}