 .custom-tag-img{
    width: 600px;
    height: 400px;
    background-repeat: no-repeat;
    background-position: center;
}
/* .carousel{
    width: 640px;
    height: 360px;
} */
@media (max-width: 900px) {
    .carousel {
      width:auto;
      height:auto;
    }
}
.room-slider{
    margin-bottom: 30px;
    margin-top: 30px;
    width: 600px;
    height: 400px;
    padding: 0;
}


