.filter{
    margin-top: 35px;
    margin-bottom: 16px;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    width: 80%;
    border: 0;
    border-radius: 0px;
    margin: 2% auto;
    /* background-color: #b3e5fc; */
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.search-btn{
    height: 40px;
    font-size: 15px;
    text-align: center;
    margin-left: 10px;
    align-content: center;
    margin-top: 4px;
}
.search-label{
    padding: 0;
    text-align: center;
}
.filter-item{
    margin-left: 3px;
    border-radius: 0px;
    border-color: lightskyblue;
    height: 50px;
}

@media (max-width: 900px){
  .filter {
    display: block; 
    }
}
