.img-about{
    width: 500px;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 3em;
    /* box-shadow: 0px 2px 10px rgb(179, 175, 175); */
}

.about-label{
    margin: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 3em;
}

