.admin{
    margin-top: 40px;
}

.btn-tbl-edit {
    background-color: #888;
    border-radius: 50% !important;
    padding: 5px !important;
    color: #fff;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.btn-tbl-delete {
    background-color: #f96332;
    border-radius: 50% !important;
    padding: 5px !important;
    color: #fff !important;
    box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.2);
}

.btn{
    margin-left: 3px;
    margin-right: 3px;
}
.btn-new-style {
    background-color: white !important;
    border-color: white !important;
}
.btn-new-style:active{
    background-color: white !important;
    border-color: white !important;
    outline: none !important;
}