.custom-tag {
      max-width: 100%;
      height: 600px;
      box-sizing: border-box;
      box-shadow: 100px 2px 100px black;
      z-index: -1;
      height: 600px;
}

.custom-tag > img { 
    width: 100%; 
}

.image{
    width: 100%;
}

